- content_for :nav_top do 
  %li
    %a{:href => "/posts/new"}
      %button.btn.btn-lg.btn-success.navbar-btn Nuovo Post
  
= render partial: "common", locals: {user: @c_user, posts: @posts}

- content_for :left_col do 
  %h3 Materiale:
  - @files.items.each do |file|
    = label_tag 'g_file', "#{file.title}"
    = link_to "Cancella", controller: "dashboard", action: "delete_file", file: file.id 
    = link_to "Download", controller: "dashboard", action: "download_file", file: file.id
    %br/

