- content_for :nav_top do
  %li
    %a{:href => "/"}
      %button.btn.btn-lg.btn-success.navbar-btn Home
- content_for :left_col do 
  %h3 Questa è la pagina di login. 
  %h3 Studenti e insegnanti:
  %h4 siete pregati di effettuare il login con Google per poter sfruttare le funzionalità di Drive, che stanno alla base del sistema per gestire i file. Potete comunque fare l'accesso con le credenziali create alla registrazione, ma non è garantito il funzionamento di tutti i servizi.
  %h3 Genitori:
  %h4 Voi potete effettuare il login con le credenziali create alla registrazione.
- content_for :center_col do
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field.form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email",  :class => "form-control"
    .field.form-group
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password",  :class => "form-control"
    //- if devise_mapping.rememberable?
    //.field.form-group
    //= f.check_box :remember_me
    //= f.label :remember_me
    .actions
      = f.submit "Log in", :class => 'btn btn-lg btn-success'
- content_for :right_col do
  = link_to "Login con Google", user_google_oauth2_omniauth_authorize_path, :class => "button btn btn-lg btn-success google-btn"
  //= render "users/shared/links"
