- content_for :nav_top do
  %li
    %a{:href => "/subjects"}
      %button#login-btn.btn.btn-lg.btn-success.navbar-btn Materie
  %li
    %a{:href => "/dashboard"}
      %button#login-btn.btn.btn-lg.btn-success.navbar-btn Dashboard

- content_for :left_col do 
  %h1
    = @subject.subject 
  %br/
  = label_tag 'prof_name', "Nome prof: "
  = label_tag 'u_prof_name', "#{@prof.name}", :class => "my-label"
  %br/
  = label_tag 'prof_surname', "Cognome prof: "
  = label_tag 'u_prof_surname', "#{@prof.surname}", :class => "my-label"
  %br/
  = label_tag 'prof_email', "Email prof: "
  = label_tag 'u_prof_email', "#{@prof.email}", :class => "my-label"

  %h3 Materiale:
  - @files.items.each do |file|
    //%a{:href => "/subjects/:id/download_file"}
    //= link_to "#{file.title}", "/subjects/download_file", action: :view_file
    = link_to "#{file.title}", controller: "subjects", action: "view_file", file: file.id
    %br/

- content_for :center_col do 
  = render partial: "/dashboard/posts", locals: {posts: @posts}
