- content_for :nav_top do 
  %li
    %a{:href => "/dashboard"}
      %button.btn.btn-lg.btn-success.navbar-btn Dashboard

- content_for :center_col do 
  .container-fluid
    = form_with(url: '/posts', method: "post") do 
      .field.form-group
        = label_tag("Testo") 
        %br/
        = text_area_tag(:description, nil, autofocus: true, class: 'form-control', required: true, :maxlength => "100")
        %br/
      .field.form-group 
        = label_tag("Classe")
        %br/
        %input#post_school_class{ :name => 'school_class', :autofocus => true, autocomplete: "classe", :class => "form-control", required: true, :maxlength => "30" }
        %br/
      .field.form-group 
        = label_tag("Scuola")
        %br/
        %input#post_school{ :name => 'school', :autofocus => true, autocomplete: "materia", :class => "form-control", required: true, :maxlength => "30" }
        %br/
      .field.form-group
        = label_tag("Link consegna (facoltativo)")
        %br/
        %input{ :name => 'submit_link', :autofocus => true, autocomplete: "materia", :class => "form-control", :maxlength => "30" }
        %br/
      .field.form-group
        = label_tag("Scadenza (facoltativo)")
        %br/
        = date_field(:deadline, nil, autofocus: true, min: Date.today, :class => "form-control")
        %br/
        %br/
      .actions
        = submit_tag("Pubblica", :class => 'btn btn-lg btn-success')
      %br/
      %br/

      